## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,Paradise Inn
1,7,Tricase,IT,79.95,clear sky,39.9304,18.3553,Hotel Adriatico
2,12,Izumo,JP,78.75,clear sky,35.3667,132.7667,Toyoko-Inn Izumoshi ekimae
3,14,Anloga,GH,77.22,broken clouds,5.7947,0.8973,Pin Drop Hotel
4,29,Kampong Chhnang,KH,76.84,overcast clouds,12.1667,104.5500,រមណីយដ្ឋាន ទឹកធ្លាក់ស្រែអំពិល

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vaca_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=vaca_info)

fig.add_layer(marker_layer)
fig.add_layer(city_itinerary)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Naples"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Naples"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Agropoli"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Soverato"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Tricase"]

In [15]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], \
        vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], \
     vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
stop1 = vacation_stop1["Lat"].to_numpy()[0], \
        vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], \
        vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], \
        vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (40.8333, 14.25), End: (40.8333, 14.25)
Stop 1: (40.3469, 14.9966), Stop 2: (38.685, 16.5499), Stop 3: (39.9304, 18.3553)

In [16]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,353,Naples,IT,79.14,clear sky,40.8333,14.2500,Renaissance Naples Hotel Mediterraneo
1,7,Tricase,IT,79.95,clear sky,39.9304,18.3553,Hotel Adriatico
2,55,Agropoli,IT,78.28,clear sky,40.3469,14.9966,B&B Baia di Trentova
3,382,Soverato,IT,75.15,clear sky,38.6850,16.5499,Hotel San Domenico
4,353,Naples,IT,79.14,clear sky,40.8333,14.2500,Renaissance Naples Hotel Mediterraneo

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City /Country/ </dt><dd>{City} /{Country}/</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
v_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

marker_layer = gmaps.marker_layer(locations, info_box_content=v_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))